<nav class="navbar">
    <div class="navbar-container">
      <h1 class="navbar-logo">Fruit Inventory</h1>
      <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/new">Add Fruit</a></li>
        <li><a href="/">Family</a></li>
      </ul>
    </div>
  </nav>